@font-face {
    font-family: "THINK";
    src: local("THINK"),
    url("./fonts/THINK.TTF") format("truetype");
}
  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: ; */
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    background-color:black;
    font-family: 'Josefin Sans', sans-serif;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0px 30px;
    margin-top: 100px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: "THINK";
    color: white;
    font-size: 120px;
    letter-spacing: 6px;
}

.new-todo {
    box-shadow: 0 8px 32px 0 rgba(31, 135, 62, 0.37);
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border: 2px solid rgba(255, 255, 255, 0.18);
    color: white;
    height: 70px;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}

.check {
    width: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

.check-mark{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark img {
    visibility: hidden;
}

.check-mark:hover, .check-mark.checked{
    background-image: linear-gradient(to right top, #0a8729, #49a127, #79bb21, #aad319, #deeb12);
}

.check-mark:hover img, .check-mark.checked img {
    visibility: visible;
}

.todo-text.checked {
    text-decoration: line-through;
    color: white;
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.new-todo-input input::placeholder{
    color: white
}


.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    box-shadow: 0 8px 32px 0 rgba(31, 135, 62, 0.37);
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    color: white;
    font-size: 18px;
    transition: all 0.25s ease;
    display: flex;
    z-index: -1;
    cursor: pointer;
}

.todo-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);

    z-index: 10;
}

.todo-text {
    display: flex;
    align-items: center;
    font-size: 30px;

}

.todo-items-wrapper{
    margin-top:30px;
    margin-bottom: 30px;
    color:hsl(233, 14%, 35%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
}

.todo-items-info {
    height: 70px;
    width: 100%;
    color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: #ffffff;
}

.items-statuses {
    display: flex;
    justify-content: center;
}

.items-statuses span {
    padding: 0 5px;
    cursor: pointer;
}

.items-statuses span:hover, .items-statuses span.active, .items-clear:hover {
    color: rgb(0, 182, 15)
}

.items-clear {
    cursor: pointer;
    text-align: end;
}